body {
  background-color: #f8f9fa;
}

nav {
  border-bottom: 0.5px solid rgb(223, 217, 217);
}
.navbar-brand {
  font-family: sans-serif;
  font-size: x-large;
  /* padding: 10px; */
}

#products-container {
  margin: auto;
  padding-top: 20px;
}

#product-card {
  box-shadow: 0 20px 19px -19px rgba(138, 138, 138, 0.794);
  border: 0.5px solid rgb(218, 217, 217);
  border-radius: 10px;
  height: 376px;
  margin: auto;
  margin-bottom: 20px;
}

.product-heading-parent {
  position: relative;
  margin-bottom: 50px;
}
.prodcuts-heading {
  margin-bottom: 10px;
  position: absolute;
}

.product-search {
  position: absolute;
  right: 0;
  margin-bottom: 10px;
}

#add-product-button {
  position: absolute;
  right: 230px;
  z-index: 1;
}

#add-product-button-2 {
  position: absolute;
  right: 230px;
  z-index: 1;
  display: none;
}

.hl {
  width: 100%;
  border-bottom: 1px solid rgb(179, 176, 176);
  margin-bottom: 30px;
}

.card-top {
  position: relative;
}

.card-img-top {
  height: 190px;
}

#description {
  color: rgb(79, 78, 78);
  font-size: small;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-size: large;
  font-weight: 800;
  margin-top: -5px;
}

.ratings {
  width: 25px;
  position: absolute;
  right: 5px;
  top: 54%;
}

.stars-outer {
  right: 13px;
  display: inline-block;
  position: absolute;
  font-family: FontAwesome;
  color: rgb(158, 155, 155);
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
.discount-span {
  /* position: relative; */
}

.dollar {
  position: absolute;
  width: 18px;
  margin-left: -2px;
  top: 80%;
}

#discount {
  position: absolute;
  margin-left: 18px;
  font-size: small;
  font-weight: 600;
  color: grey;
  top: 80%;
}
#price {
  position: absolute;
  font-size: large;
  font-weight: 700;
  top: 85.5%;
}

.product-quantity {
  position: absolute;
  font-size: small;
  color: rgb(219, 54, 54);
  right: 15px;
  top: 85.5%;
}

.grid {
  display: -webkit-flex;
  flex-direction: row;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .card {
    margin: auto;
  }

  #add-product-button {
    display: none;
  }

  #add-product-button-2 {
    display: block;
    right: 160px;
    font-size: medium;
  }

  .product-search {
    position: absolute;
    right: 0;
    margin-bottom: 10px;
    width: 150px;
  }
}
