/* .card {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
  border: 0px;
}

form {
  margin: auto;
  text-align: left;
}


.username {
  margin-bottom: 20px;
  font-weight: 700;
}

.password {
  margin-bottom: 20px;
  font-weight: 700;
}

input {
  border-radius: 5px;
  border: 0.5px solid grey;
  height: 40px;
  width: 100%;
}

.button-div{
    text-align: center;
}

.login-button {
  width: 50%;
  margin-top: 20px;
  background-color: #1c1c2cd5;
  color: white;
  border-radius: 7px;
  height: 40px;
} */
